<!DOCTYPE html>
<html>
<head>
	<title>location</title>
</head>
    <link rel="stylesheet" type="text/css" href="../static/location.css">
<body>
<!-- <div class="dots">
  <span id="dot1"></span>
  <span id="dot2"></span>
</div> -->
{%for location in alllocations%}
	<div>
		<span class="dot"></span>
	</div>
{% endfor %}
</body>
</html>
</div>






<!-- {%for location in alllocations%}
	<div class="loc">
	<img src="jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>{{location.locationName}}</h1>
  <p class="price">{{location.location}}</p>
  <p>{{product.description}}</p>
  <p><button> <a href = {{ url_for ('cart') }}>Add to Cart</a></button></p>
</div>
	{% endfor %} -->